body {
    background-image: url(../images/background.jpeg);
    background-size: 50%;
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
}

.wrapper > div {
  border: 2px solid teal;
  border-radius: 5px;
  background-color: rgba(100,189,78,.5);
  padding: 1em;
  color: black;
}

.wrapper {
  display: grid;
  grid-gap: 30px;
}

.form {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.table { 
  grid-column: 2 / 3;
  grid-row: 1 / 5;
}

h1 {
    font-family: 'Lobster Two', cursive;
}

h2 {
    color: dodgerblue;
    font-style: oblique;
    font-size: 18pt;
}

.jumbotron {
    background-color: aliceblue;
    margin-top: 20px;
    border: 1px solid darkblue;
    color: midnightblue;
}

.panel {
    background: white;
}

.btn {
    background-color: #e7e7e7; /* grey */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
